---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
}

const authors = blogEntry.data.authors;
---

<div class="flex -space-x-3">
  {authors.map((author, index) => (
    <div 
      class="relative flex shrink-0"
      style={`z-index: ${authors.length - index}`}
    >
      {typeof author.image === "string" ? (
        <img
          class="size-12 rounded-full object-cover ring-2 ring-neutral-100 dark:ring-neutral-800"
          src={author.image}
          alt={author.imageAlt ?? `${author.name} avatar`}
          loading="eager"
        />
      ) : (
        <Image
          class="size-12 rounded-full object-cover ring-2 ring-neutral-100 dark:ring-neutral-800"
          src={author.image}
          alt={author.imageAlt ?? `${author.name} avatar`}
          draggable={false}
          loading="eager"
          format="avif"
        />
      )}
    </div>
  ))}
</div>
